body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #552909;
}

img {
    padding: auto;
    margin: auto;
    height: 100px;
    width: 100px;
}

.form-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 80px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.total {
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background-color: rgb(49, 99, 49);
    color: #fff;
}

.modal {
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#QRCodeImage {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 20px 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #161616;
        color: #fff; 
    }

    #content, .carteira-container , ul, li, p, strong {
        background-color: #333; 
    }

    .carteira-container, h1, h2, header,.container,.menu,nav,.form-container,p {
        background-color: #161616;
    }


}