body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #552909;
}

.usuario-container {
    background-color: #fff;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.usuario-container h2 {
    margin-bottom: 15px;
}

.usuario-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

.usuario-container button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #4b9b65;;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.usuario-container button:hover {
    background-color: #1c3a26;
}

/* Estilos para os modais */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 44px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 450px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff; 
    }

    #content, .carteira-container , ul, li, p, strong  {
        background-color: #333; 
    }

    .carteira-container, h1, h2, header,.container,.menu,nav, .usuario-container, .modal-content,p {
        background-color: #161616;
    }


}